
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>


footer {
    background-color: #202020;
    color: white;
    padding: 1rem 2rem;
    margin-top: 2rem;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-copy p {
    font-size: 0.85rem;
    color: #ccc;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    
}

    </style>

</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top shadow" >
  <div class="container-fluid" style="height: 70px;" >
    <a class="navbar-brand fw-bold" href="{% url 'admin_dashboard' %}">Admin Dashboard</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">


        <li class="nav-item" >
          <a class="nav-link" href="{% url 'admin_dashboard' %}">Dashboard</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'user_detail_list' %}">Users</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'candidate_detail_list' %}">Candidates</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="{% url 'candidate_education_list' %}">Qualification</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'candidate_resume_list' %}">Resume</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'employee_detail_list' %}">Employees</a>
        </li>

        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'jobposting_detail_list' %}">Job Postings</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'job_application_list' %}">Job Application</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact_detail_list' %}">Contact</a>
        </li>
     


   

      <span class="navbar-text text-white me-3 d-none d-md-inline">
        Welcome, Admin
      </span>
     <a class="btn btn-outline-light btn-sm" href="{% url 'admin_logout' %}">Logout</a>
    </div>
  </div>
</nav>
<!-- <body class="bg-light">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow p-4">
                <h4 class="mb-3 text-center">Admin Login</h4>
                <!-- {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endfor %}
                {% endif %} -->
                <!-- <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label>Username</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                  
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>
                <script>
                document.getElementById("loginForm").addEventListener("submit", function () {
                this.reset();  // clear inputs after submit
                 });
                </script>
                <a href="{% url 'admin_register' %}">New Admin?<h4 style="color: aqua;">  Register</h4></a>
            </div>
        </div>
    </div>
</div> -->
<body class="bg-light">
<div class="wrapper">

 

  <div class="main-content">  <!-- flex grow content -->
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow p-4">
            <h4 class="mb-3 text-center">Admin Login</h4>

            <form method="post">
              {% csrf_token %}
              <div class="mb-3">
                <label>Username</label>
                <input type="text" name="username" class="form-control" required>
              </div>
              <div class="mb-3">
                <label>Password</label>
                <input type="password" name="password" class="form-control" required>
              </div>
              <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>

            <!-- <a href="{% url 'admin_register' %}" class="text-info mt-2 d-block text-center fw-bold">New Admin? Register</a> -->
             <div class="text-center mt-3">
        <small style="font-size: large;">New Admin? <a href="{% url 'admin_register' %}" class="text-info fw-bold">Register</a></small>
      </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="footer-content">
      <div class="footer-copy">
        <p>&copy; 2025 PRAVAH. All rights reserved.</p>
      </div>
    </div>
  </footer>

</div> <!-- end of wrapper -->
</body>

 <!-- <footer>
        <div class="footer-content">
            
            <div class="footer-copy">
                <p>&copy; 2025 PRAVAH. All rights reserved.</p>
            </div>
        </div>
    </footer> 
</body> -->

</html>

{% endblock %}