{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <title>Pravah Organization</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">


    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com " crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <style>
        .logo {
            display: flex;
            flex-direction: column;
            align-items: center; /* or center if preferred */
            gap: 4px;
        }
        
        .logo-top {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        
        .logo .symbol {
            width: 48px;
            height: 48px;
        }
        
        .logo .name {
            font-size: 2.5rem;
            font-weight: bolder;
            color: #073479; /* or #0B8FAB based on your background */
        }
        
        .logo  .name .Span {
            color:#0ec4fc
        }
        
        .logo .name:hover {
            color:    #8A2BE2; /* or #F4A259 based on your background */
        }
        .logo .tagline {
            font-size: 0.80rem;
            color: rgb(20, 44, 92); /* soft white if navbar bg is dark */
            margin-bottom: 5px;
            margin-left: 30px;
            font-weight:bolder;
            align-items: center;
            
        
        }
        .logo-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1px; /* spacing between banner and logo */
        }
        
        .logo-banner {
            width: 120px; /* adjust based on design */
            height: auto;
            margin-bottom: 4px; /* slight spacing before logo starts */
        }
        
        
            </style>
</head>



<div>
    <!-- Topbar Start -->
    <div class="container-fluid bg-secondary ps-5 pe-0 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <a class="text-body py-2 pe-3 border-end" href=""><small>FAQs</small></a>
                    <a class="text-body py-2 px-3 border-end" href=""><small>Support</small></a>
                    <a class="text-body py-2 px-3 border-end" href=""><small>Privacy</small></a>
                    <a class="text-body py-2 px-3 border-end" href=""><small>Policy</small></a>
                    <a class="text-body py-2 ps-3" href=""><small>Career</small></a>
                </div>
            </div>
            <div class="col-md-6 text-center text-lg-end">
                <div class="position-relative d-inline-flex align-items-center bg-primary text-white top-shape px-5">
                    <div class="me-3 pe-3 border-end py-2">
                        <p class="m-0"><i class="fa fa-envelope-open me-2"></i>info@example.com</p>
                    </div>
                    <div class="py-2">
                        <p class="m-0"><i class="fa fa-phone-alt me-2"></i>+012 345 6789</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">
        <a href="/" class="navbar-brand p-0">
            <img src="{% static 'img/finalwhite1.png' %}" alt="Logo Banner"  style="height: 200px; width: 280px;"> 
            <!-- <div class="logo-wrapper"> -->
                <!-- Image above the logo -->
                <!-- <img src="{% static 'img/white.png' %}" alt="Logo Banner" class="logo-banner">
            <div class="logo">
                <div class="logo-top"> -->
                  <!-- <svg class="symbol" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 10C20 20 20 44 10 54" stroke="#0B8FAB" stroke-width="4" stroke-linecap="round"/>
                    <path d="M54 10C44 20 44 44 54 54" stroke="#F4A259" stroke-width="4" stroke-linecap="round"/>
                    <path d="M10 54C20 44 44 44 54 54" stroke="#0B3954" stroke-width="2" stroke-linecap="round"/>
                  </svg> -->
                    <!-- <img class="symbol" src="{% static 'img/logo.jpeg' %}" alt="Logo" style="width: 48px; height: 48px;"> -->
                  <!-- <div class="name">pravah.<span  class="Span">org</span></div>
                </div>
                <div class="tagline">Connecting Talent to Opportunity</div>
              </div>
              </div> -->
            <!-- <h1 class="m-0 text-uppercase text-primary"><i class="far fa-smile text-primary me-2"></i>Pravah Org</h1>  -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0 me-n3">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="/about/" class="nav-item nav-link">About</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Our Services</a>
                    <div class="dropdown-menu m-0">
                     
                        <a href="/ourservices/" class="dropdown-item">Our Services</a>
                        <a href="/service/" class="dropdown-item">Service</a>
                     
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Career</a>
                    <div class="dropdown-menu m-0">
                     
                        <a href="/features/" class="dropdown-item">Features</a>
                        <a href="/jobpostings/" class="dropdown-item">Jobpostings</a>
                    </div>
                </div>
                
                <a href="/contact/" class="nav-item nav-link">Contact</a>
              
            </div>
        </div>
    </nav>
    <!-- Navbar End -->



    <!-- Page Header Start -->
    <div class="container-fluid bg-dark p-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 text-white">Features</h1>
                <!-- <a href="">Home</a>
                <i class="far fa-square text-primary px-2"></i>
                <a href="">Features</a> -->
            </div>
        </div>
    </div>
    <!-- Page Header End -->

   <!-- Features Start -->
   <div class="container-fluid py-6 px-5">
    <div class="text-center mx-auto mb-5" style="max-width: 600px;">
        <h1 class="display-5 mb-0">Why Choose Us!!!</h1>
        <hr class="w-25 mx-auto bg-info">
    </div>
    <div class="row g-5">
        <div class="col-lg-4">
            <div class="row g-5">
                <div class="col-12">
                    <div class="bg-info rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-cubes fs-4 text-white"></i>
                    </div>
                    <h3>Best In Industry:</h3>
                    <p class="mb-0">Pravah stands out as the best in the industry, offering expert-driven career development, skill training, and top-tier placement services aligned with market demands.</p>
                </div>
                <div class="col-12">
                    <div class="bg-info rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-percent fs-4 text-white"></i>
                    </div>
                    <h3>99% Success Rate:</h3>
                    <p class="mb-0">With a 99% success rate, Nirmaan consistently delivers exceptional career placement outcomes, ensuring our candidates achieve their professional goals.</p>
                </div>
                <div class="col-12">
                    <div class="bg-info rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-award fs-4 text-white"></i>
                    </div>
                    <h3>Strong Network: </h3>
                    <p class="mb-0"> Through collaborations with educational institutions, businesses, and governmental organizations, we offer a wide network of opportunities.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="d-block bg-info h-100 text-center">
                <img class="img-fluid" src="{% static 'img/feature.jpg' %}" alt="">
                <div class="p-4">
                    <p class="text-white mb-4">Pravah Organization is dedicated to empowering individuals through career development, skill training, and placement assistance. Our programs are designed to bridge the gap between education and employment, providing opportunities for growth and success. Join us to unlock your potential and create a brighter future.</p>
                    <a href="" class="btn btn-light py-md-3 px-md-5 rounded-pill mb-2">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row g-5">
                <div class="col-12">
                    <div class="bg-info rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="far fa-smile-beam fs-4 text-white"></i>
                    </div>
                    <h3>Experienced Team:</h3>
                    <p class="mb-0">Our team comprises industry experts, educators, and career counselors who are passionate about guiding individuals toward success.</p>
                </div>
                <div class="col-12">
                    <div class="bg-info rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-user-tie fs-4 text-white"></i>
                    </div>
                    <h3>Social Impact:</h3>
                    <p class="mb-0">By providing accessible career resources, we empower individuals to break the cycle of poverty and achieve financial independence.</p>
                </div>
                <div class="col-12">
                    <div class="bg-info rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                        <i class="fa fa-headset fs-4 text-white"></i>
                    </div>
                    <h3>Holistic Support:</h3>
                    <p class="mb-0">From skill development to career placement, we provide end-to-end services that support every step of an individual's professional journey.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features Start -->
    

    <!-- Footer Start -->
    
    <div class="container-fluid bg-dark text-secondary p-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h3 class="text-white mb-4">Quick Links</h3>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-secondary mb-2" href="#"><i class="bi bi-arrow-right text-info me-2"></i>Home</a>
                    <a class="text-secondary mb-2" href="#"><i class="bi bi-arrow-right text-info me-2"></i>About Us</a>
                    <a class="text-secondary mb-2" href="#"><i class="bi bi-arrow-right text-info me-2"></i>Our Services</a>
                    <a class="text-secondary mb-2" href="#"><i class="bi bi-arrow-right text-info me-2"></i>Latest Blog Post</a>
                    <a class="text-secondary" href="#"><i class="bi bi-arrow-right text-info me-2"></i>Contact Us</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 class="text-white mb-4">Popular Links</h3>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-secondary mb-2" href="#"><i class="bi bi-arrow-right text-info me-2"></i>Home</a>
                    <a class="text-secondary mb-2" href="#"><i class="bi bi-arrow-right text-info me-2"></i>About Us</a>
                    <a class="text-secondary mb-2" href="#"><i class="bi bi-arrow-right text-info me-2"></i>Our Services</a>
                    <a class="text-secondary mb-2" href="#"><i class="bi bi-arrow-right text-info me-2"></i>Latest Blog Post</a>
                    <a class="text-secondary" href="#"><i class="bi bi-arrow-right text-info me-2"></i>Contact Us</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 class="text-white mb-4">Get In Touch</h3>
                <p class="mb-2"><i class="bi bi-geo-alt text-info me-2"></i>123 Street, New York, USA</p>
                <p class="mb-2"><i class="static 'bi bi-envelope-open text-info me-2"></i>info@example.com</p>
                <p class="mb-0"><i class="static 'bi bi-telephone text-info me-2"></i>+012 345 67890</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 class="text-white mb-4">Follow Us</h3>
                <div class="d-flex">
                    <a class="btn btn-lg btn-info btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                    <a class="btn btn-lg btn-info btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                    <a class="btn btn-lg btn-info btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                    <a class="btn btn-lg btn-info btn-lg-square rounded-circle" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-secondary text-center border-top py-4 px-5" style="border-color: rgba(256, 256, 256, .1) !important;">
        <p class="m-0">&copy; <a class="text-secondary border-bottom" href="#">Your Site Name</a>. All Rights Reserved. Designed by <a class="text-secondary border-bottom" href="https://htmlcodex.com">HTML Codex</a></p>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-info btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>




    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
   
</body>

</html>

{% endblock %}