<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <style>
   .containr{
        display: flex;
        justify-content: center;
        align-items: center;
      
        height: 100vh;
    }
    .alert {
        padding: 20px;
        background-color:rgb(235, 237, 238); /* Green */
      
        border-radius: 5px;
    }
    .alert h2 {
        text-align: center;
        margin: 0 0 10px 0;
    }
    .alert p {
        text-align: center;
        margin: 0;
   }
    </style>
</head>
<body>
    <div class="container">
    <div class="alert alert-success text-center">
        <h2>Thank You!</h2>
        <p>Your message has been successfully submitted. We will contact you soon.</p>
    </div>
</div>

    
</body>
</html>